@CHARSET "UTF-8";

.ui-dialog {
	background-color: white;
	box-shadow: 0 0 5px 0 #222;
	width: 1000px;
	z-index: 1001;
	transition-property: width, height, top, left;
	transition-duration: .3s, .3s, .3s, .3s;
}
.ui-dialog:focus {
	outline-style: none;
}
.ui-widget-overlay {
	display: block;
	position: absolute;
	top: 20px;
	left: -20px;
	right: -20px;
	bottom: 20px;
	background-color: black;
	opacity: .4;
	z-index: 1000;
	box-shadow: 0 0 5px 0 #606060;
	-webkit-filter: blur(20px); -moz-filter: blur(20px); -o-filter: blur(20px); -ms-filter: blur(20px); filter: blur(20px);
}

.ui-dialog .ui-widget-overlay {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	opacity: .2;
	z-index: 1000;
	
	-webkit-filter: none; -moz-filter: none; -o-filter: none; -ms-filter: none; filter: none;
}

.ui-dialog-titlebar {
	position: relative;
	background: #95172c;
	padding: 5px 12px;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}
.alert > .ui-dialog-titlebar {
	background: #a42f42;
}
.ui-dialog-titlebar .ui-dialog-titlebar-close {
	background-color: transparent;
	top: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	border: none;
	position: absolute;
	background: url(../../images/charte/close_modal.png) center center no-repeat transparent;
	cursor: pointer;
}
.ui-dialog-titlebar .ui-dialog-titlebar-close:focus {
	outline-style: none;
}
.ui-dialog-titlebar .ui-dialog-titlebar-close > * {
	display: none;
}

.ui-dialog-content {
	overflow: auto;
}
.ui-dialog-content > .loading {
	position: absolute;
	display: block;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../../images/charte/loader4.gif) center center no-repeat rgba(255, 255, 255, .8);
	background-size: 64px auto;
	z-index: 10;
}

.modal-buttons {
	
}
.modal-buttons > span {
	display: block;
	text-align: right;
	padding: 20px 20px 0 20px;
}
.cancel_button {
	display: inline-block;
	padding: 5px 15px;
	background-color: #f2f2f2;
	border-radius: 4px;
	border: solid 1px #c7c7c7;
	color: #8f8f8f;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	min-width: 80px;
}
.cancel_button.small {
	min-width: 0;
}

.cancel_button:active {
	box-shadow: inset 0 0 7px -2px #808080;
}

.neutral_button {
	display: inline-block;
	padding: 5px 15px;
	background-color: #e2e2e2;
	border-radius: 4px;
	border: solid 1px #a7a7a7;
	color: #4f4f4f;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	min-width: 80px;
}
.neutral_button.small {
	min-width: 0;
}

.neutral_button:active {
	box-shadow: inset 0 0 7px -2px #404040;
}

.valid_button {
	display: inline-block;
	padding: 5px 15px;
	background-color: #39b539;
	border-radius: 4px;
	border: solid 1px #39b539;
	color: #f8f8f8;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	min-width: 80px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .2s;
}
.valid_button.disabled {
	opacity: .3;
	cursor: default;
}
.valid_button.small {
	min-width: 0;
}

.valid_button > span::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 12px;
	vertical-align: center;
	background: url(../../images/charte/valid_check.png) left 2px no-repeat;
}
.email_send_button > span::before,
.valid_button.email_send_button > span::before {
	content: "";
	display: inline-block;
	width: 34px;
	height: 15px;
	vertical-align: center;
	background: url(../../images/charte/email_send.png) left 2px no-repeat;
}
.valid_button:active {
	box-shadow: inset 0 0 9px -2px #000000;
}
.valid_button.disabled:active {
	box-shadow: none;
}

.valid_button:last-child {
	margin-right: 0;
}




.imprimer_button {
    display: inline-block;
    padding: 5px 15px 5px 40px;
    border-radius: 4px;
    border: solid 1px #a349c8;
    color: #f8f8f8;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    min-width: 80px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .2s;
    background: url(../../images/charte/print.png) 16px center no-repeat #a349c8;
    background-size: 16px auto;
}
.imprimer_button.disabled {
	opacity: .3;
	cursor: default;
}
.imprimer_button.small {
	min-width: 0;
}
.imprimer_button:active {
	box-shadow: inset 0 0 9px -2px #000000;
}
.imprimer_button.disabled:active {
	box-shadow: none;
}
.imprimer_button:first-child {
	margin-left: 0;
}
.imprimer_button:last-child {
	margin-right: 0;
}




.show_bts_button {
    display: inline-block;
    padding: 5px 15px 5px 40px;
    border-radius: 4px;
    border: solid 1px #95172c;
    color: #f8f8f8;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    min-width: 80px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .2s;
    background: url(../../images/charte/list_bts.png) 16px center no-repeat #95172c;
    background-size: 16px auto;
}
.show_bts_button.disabled {
	opacity: .3;
	cursor: default;
}
.show_bts_button.small {
	min-width: 0;
}
.show_bts_button:active {
	box-shadow: inset 0 0 9px -2px #000000;
}
.show_bts_button.disabled:active {
	box-shadow: none;
}
.show_bts_button:first-child {
	margin-left: 0;
}
.show_bts_button:last-child {
	margin-right: 0;
}



.refus_button,
.delete_button {
	display: inline-block;
	padding: 5px 15px;
	background-color: red;
	border-radius: 4px;
	border: solid 1px red;
	color: #f8f8f8;
	cursor: pointer;
	/*margin-left: 10px;*/
	margin-left: 0;
	margin-right: 10px;
	text-align: center;
	min-width: 80px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .2s;
}
.refus_button.disabled,
.delete_button.disabled {
	opacity: .3;
	cursor: default;
}
.refus_button.small,
.delete_button.small {
	min-width: 0;
}


.refus_button:active,
.delete_button:active {
	box-shadow: inset 0 0 9px -2px #000000;
}
.refus_button.disabled:active,
.delete_button.disabled:active {
	box-shadow: none;
}


.delete_button > span {
	position: relative;
}
.delete_button > span::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 12px;
	vertical-align: center;
}
.delete_button > span::after {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: 0px;
	width: 18px;
	height: 18px;
	vertical-align: center;
	background: url(../../images/charte/trash_white.png) left 2px no-repeat;
}

.valid_button:last-child {
	margin-right: 0;
}

.modal-content > div {
	padding: 15px;
}

.alert > .alert_content {
	padding: 20px 20px 20px 60px;
	min-height: 80px;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: bold;
	background: url(../../images/charte/warning_picto.png) 20px 20px no-repeat;
}
.alert > .alert_button {
	padding: 10px 10px 20px 10px;
	text-align: center;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../../images/charte/loader4.gif) center center no-repeat rgba(255, 255, 255, .6);
	background-size: 64px auto;
}
.seriel_nav_cont_subdiv.loading {
	background: url(../../images/charte/loader4.gif) center center no-repeat transparent;
	background-size: 64px auto;
}

.navigator-preload {
	display: none;
}