body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif, "Times New Roman", Georgia, Serif;
	font-size: 14px;
	background: #e6e6e6;
	color: #5d5d5d;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:focus {
    outline-color: #95172c;
}
::selection {
	color: white;
    background-color: #95172c;
}

input {
	border: solid 1px #cccccc;
}

input[type=checkbox] {
	position: relative;
	top: 2px;
}

.ser_widget_container {
	display: block;
	position: absolute;
	background-color: white;
	box-shadow: 0 0 4px -1px #252525;
}

.login {
background:#95172c;    
margin: auto;
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 25vh;
padding:10px;   
color:white;
text-align : right;
width:320px;
height:200px
}
.login input {
    margin:5px;
}

.connexion_en_cours {
	display: block;
	position: absolute;
	bottom: 45px;
	left: 20px;
	right: 20px;
	visibility: hidden;
	text-align: center;
	font-weight: bold;
}
.connexion_en_cours .loader {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url(../images/charte/ajax-loader-login.gif) center center no-repeat;
}

.logo {
    display:block;
    width:50px;
    height:50px;
    background: url(../images/charte/zombie_logo_rond.png) center center no-repeat;
}

#_submit {
display: block;
background-color: #95172c;
color: white;
font-weight: bold;
margin: 12px 16px;
text-align: center;
padding: 8px;
font-size: 1.2em;
border-radius: 3px;
text-transform: uppercase;
cursor: pointer;
float: right;    
}

.login.ser_widget_container .error {
	display: none;
    color:#8A0808;
       font-weight:bold;
       text-shadow: 7px 8px 8px #585858;}
.error_bounced {font-size:3em;color:red;}